.mainButton {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    font-size: 50px;
    width: 400px;

    display:inline-block;
    padding:0.35em 1.2em;
    background-color: #72bcd4;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Roboto', sans-serif;
    font-weight:500;
    text-align:center;
    transition: all 0.2s;
}

.mainButton:hover{
    color:#000000;
    background-color:#c1e1ec;
    cursor: pointer;
}